body {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
}

p,
article {
    padding-top: 8px;
    padding-bottom: 8px;
}

#contentArea {
    min-height: 60vh;
}

.top-mutual {
    margin-top: 75px;
}

.box-top-mutual {
    margin-top: 91px;
}

.header {
    z-index: 999;
}

.w3-bar-item-custom {
    height: 75px;
    text-transform: capitalize;
}


/*--------------------------------------------------
  [39. Revolution Slider]
----------------------------------------------------*/

.tp-banner-container {
    margin-top: -20px;
    position: relative;
}

.tp-dottedoverlay {
    z-index: 1 !important;
}

.tp-bullets.preview4 .bullet {
    border-radius: 10px !important;
}

.tp-banner-container ul li,
.fullscreenbanner-container ul li {
    list-style: none;
    visibility: hidden;
}

.revolution-mch-1:after {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
}

.revolution-ch1 {
    font-size: 50px;
    line-height: 1.3;
}

.revolution-ch2 {
    font-size: 40px;
    line-height: 1.2;
}

.revolution-ch2:after {
    left: 50%;
    width: 70px;
    height: 2px;
    content: ' ';
    bottom: -10px;
    margin-left: -35px;
    position: absolute;
}

.revolution-ch3 {
    font-size: 30px;
    line-height: 1.2;
}

.revolution-ch4 {
    font-size: 20px;
    line-height: 25px;
}

.has-error {
    color: #ff0000;
}

.w3-barbottom-2px {
    border-bottom-width: 2px!important;
}

.form-group {
    margin-bottom: 10px;
}

.custom-li {
    padding: 8px 4px!important;
}

.category-show-hide {
    padding-top: 12px;
    font-size: 20px;
}

.header-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2
}

.is_stuck {
    top: 83px!important;
    padding: 0px 4px;
}

.cart-hooker {
    position: fixed;
    top: 91px;
    right: 0;
    text-align: right;
}

span#cartHooker,
span#cartHooker:active {
    border-radius: 0px 25px 25px 0px;
}

.payment-buttons img {
    min-height: 40px;
    max-width: 78px;
}

.w3-ul li.category {
    padding: 3px 6px;
    border-bottom: 1px solid #ddd;
}

.w3-card.w3-margin {
    margin: 0px 8px !important;
}

.w3-border-thick {
    border-width: 15px;
    border-style: solid;
}

.w3-modal {
    padding-top: 150px!important;
}

.w3-cursor-pointer {
    cursor: pointer;
}

li.cart-item {
    padding: 0px 0px;
}

.w3-section-half {
    margin-top: 8px!important;
    margin-bottom: 8px!important
}

*:focus,
button:focus,
input:focus,
select:focus,
option:focus,
textarea:focus,
button:focus {
    outline: none!important;
    box-shadow: none!important;
}

.no-margin {
    margin: 0px!important;
}

.no-padding {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

image:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cccccc;
}

.grid-box .w3-dropdown-content {
    min-width: 80px!important;
    border-top: 0!important;
    height: 150px!important;
    overflow-y: auto
}

.flash {
    animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: flash;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: flash;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
}

@keyframes flash {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes flash {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }
}

@-moz-keyframes flash {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }
}

@media (max-width:992px) {
    .w3-bar-item-custom {
        padding: 8px 12px!important;
    }
    .cart-block-padding {
        padding: 0px 0px 0px 8px;
    }
}

@media (max-width:991px) and (min-width:601px) {
    .w3-bar-item-custom {
        padding: 8px 4px!important;
    }
    .category-show-hide {
        display: none!important;
    }
    .cart-block-padding {
        padding: 0px 0px 0px 8px;
    }
    .top-mutual {
        margin-top: 75px;
        margin-bottom: 0px;
    }
    .box-top-mutual {
        margin-top: 91px;
        margin-bottom: 0px;
    }
}

@media (min-width:992px) {
    .category-show-hide {
        display: none!important;
    }
    .cart-block-padding {
        padding: 0px 0px 0px 8px;
    }
    .top-mutual {
        margin-top: 160px;
        margin-bottom: 85px;
    }
    .box-top-mutual {
        margin-top: 150px;
        margin-bottom: 75px;
    }
    .w3-content,
    .w3-auto {
        margin-left: auto;
        margin-right: auto
    }
    .w3-content {
        max-width: 1140px
    }
    .w3-auto {
        max-width: 100%
    }
    .cart-items {
        height: auto;
        min-height: 25vh;
        max-height: 30vh;
        overflow-x: hidden;
        overflow-y: visible;
    }
    .category-block {
        height: auto;
        min-height: auto;
        max-height: 450px;
        overflow-x: hidden;
        overflow-y: visible;
    }
    .w3-modal-content {
        width: 530px;
    }
    .w3-bar .w3-bar-item {
        padding: 8px 12px;
    }
}

@media (max-width:768px) {
    .category-show-hide {
        display: block!important;
    }
    .top-mutual {
        margin-top: 75px;
        margin-bottom: 0px;
    }
    .box-top-mutual {
        margin-top: 91px;
        margin-bottom: 16px;
    }
}

@media (max-width:600px) {
    #contentArea {
        min-height: auto;
    }
    .category-show-hide {
        display: block;
    }
    .category-menus {
        display: none;
    }
    li.menu.w3-clear.w3-card.per-category {
        margin-bottom: 0px!important;
        box-shadow: 0 0 0 0!important;
    }
    .shift-align-to-left.w3-right-align {
        text-align: left!important;
    }
    .shift-align-to-right.w3-left-align {
        text-align: right!important;
    }
    .w3-round.w3-mobile {
        border-radius: 0px!important;
        border: 0!important;
    }
    .w3-mobile.w3-row-padding,
    .w3-mobile.w3-row-padding>.w3-half,
    .w3-mobile.w3-row-padding>.w3-third,
    .w3-mobile.w3-row-padding>.w3-twothird,
    .w3-mobile.w3-row-padding>.w3-threequarter,
    .w3-mobile.w3-row-padding>.w3-quarter,
    .w3-mobile.w3-row-padding>.w3-col,
    .w3-mobile.w3-row-padding-4,
    .w3-mobile.w3-row-padding-4>.w3-half,
    .w3-mobile.w3-row-padding-4>.w3-third,
    .w3-mobile.w3-row-padding-4>.w3-twothird,
    .w3-mobile.w3-row-padding-4>.w3-threequarter,
    .w3-mobile.w3-row-padding-4>.w3-quarter,
    .w3-mobile.w3-row-padding-4>.w3-col {
        padding: 0px 0px!important;
    }
    .w3-mobile-container {
        padding: 0px 16px;
    }
    .w3-order.w3-container {
        padding: 0px 0px!important;
    }
}

@media (max-width:320px) {
    .w3-round.w3-mobile {
        border-radius: 0px!important;
        border: 0!important;
    }
    .sidebar.w3-container {
        padding: 0px!important;
    }
}